<div class="container">
  <div class="input-container">
    <mat-form-field>
      <div style="text-align:center;">
        <input matInput type="text" (keyup)="onKey($event)" (keyup.enter)="addItem($event)" [(ngModel)]="newTask" required class="input-box">
      </div>
    </mat-form-field>
    <div style="text-align:center;">
      <button (click)="addItem($event)">Add Task</button>
    </div>
  </div>
  
  <div>
    <ul>
      <li *ngFor="let task of tasks">{{task}}
        <button (click)="deleteTask($event)">X</button>
      </li>
    </ul>
  </div>
</div>
